<!--
  Target for toggling the sidebar `.sidebar-checkbox` is for regular styles, `#sidebar-checkbox` for
  behavior.
-->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<aside class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"title"  %}
    {% for node in pages_list %}
      {% if node.title != null and node.url != "/404.html" %}
        {% if node.layout == "page" or node.layout == "page_pdf" or node.layout == "cv" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- <a class="sidebar-nav-item" href="{{ site.baseurl }}/cv.html" data-proofer-ignore>Curriculum Vitae</a> -->
    <!-- <script src="https://hypothes.is/embed.js" async></script> -->

    <!-- The code below is used for manually entered links 
    <span style='cursor:pointer;' onclick="javascript:var hypothesis = document.createElement('script');
      hypothesis.setAttribute('src','https://hypothes.is/embed.js');
      document.head.appendChild(hypothesis);"><a class="sidebar-nav-item">Annotate me</a></span> -->

  <!--
    <a class="sidebar-nav-item" href="https://via.hypothes.is/{{ site.url }}{{ site.baseurl }}{{page.url}}/" data-proofer-ignore>Annotate me</a>
    <script src="https://hypothes.is/embed.js" async></script>
  -->

    <!-- <a class="sidebar-nav-item" href="https://github.com/minicomp/ed" target="_blank">GitHub project</a> -->
  </nav>

  
    <span class="sidebar-nav-item icons">
      <div style="margin: 0 auto; width:14rem; text-align: center;">
      <div id="contact_button">
      <a class="inline-block" style="display:inline-block; width: 2rem;" href="mailto:pengtr19@mails.tsinghua.edu.cn" target="_blank">&#xe945;</a> <!-- mail icon --></div>
      <div id="contact_button">
      <a class="inline-block" style="display:inline-block; width: 2rem;" href="mailto:v1ncent19@outlook.com" target="_blank">&#xe945;</a></div><!-- mail icon -->
      <div id="contact_button">
      <a class="inline-block" style="display:inline-block; width: 2rem;" href="https://twitter.com/V1ncentPeng" target="_blank">&#xea96;</a></div> <!-- twitter icon -->
      <div id="contact_button">
      <a class="inline-block" style="display:inline-block; width: 2rem;" href="https://github.com/V1ncent19/v1ncent19.github.io" target="_blank">&#xeab0;</a> </div><!-- github icon -->
      </div>
    </span>
    
  <div class="sidebar-item">
    <p>
      This website is powered by <a href="https://jekyllrb.com/">Jekyll</a>, and designed based on theme <a href="https://minicomp.github.io/ed/">Ed.</a>. Distributed with an <a href="https://mit-license.org/">MIT license</a>.
    </p>
  </div>
  <div class="sidebar-item">
    <p>
      Last updated: {{ "today" | date: '%B %Y' }}
    </p>
    <p>
      <script type="text/javascript">

        if(null !=localStorage.pagecount){
          localStorage.pagecount=Number(localStorage.pagecount)+1;
        }else{
          localStorage.pagecount=1;
          }
        document.write("Page View: "+localStorage.pagecount+".");
      
      </script>
    </p>
    <!-- <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span id="busuanzi_container_site_pv">PVs: <span id="busuanzi_value_site_pv"></span></span> -->
  </div>
</aside>
