@mixin background-opacity($color, $opacity: 0.3) {
    background-color: $color; /* The Fallback */
    background-color: rgba($color, $opacity);
}


div.ediciones {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
  a {
    display: block;
  }
  font-size: 32px;
  @media screen and (max-width: 900px) {
    font-size: 26.5px;
  }
  @media screen and (max-width: 680px) {
    font-size: 24.4px;
  }
  @media screen and (max-width: 610px) {
    font-size: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }

}

$dark-theme-seethru: rgba($dark-theme, 0.8);

div.materiales {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  a {
    flex-grow: 1;
    display: block;
    background-color: $dark-theme-seethru;
    color: white;
    padding: 0;
    margin-left: 2.5px;
    margin-right: 2.5px;
    margin-bottom: 5px;
    font-weight: 700;
    padding-left: 10px;
    font-size: 1.5em;
    font-family: "Gill Sans Extrabold", sans-serif;
    text-transform: lowercase;
  }
}

.box {
  position: relative;
  height: 13.5em;
  width: 11em;
  overflow: hidden;
  margin-bottom: 0.5em;
  .summarynote {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/photos/summarynote1.png");
    background-size: 11em;
    background-position: top;
    -webkit-filter: blur(2px);
    filter: blur(1px);
    margin: -2px -4px -4px -2px;
  }
  .overlay {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 100%;
    padding-top: 108.7%;
    transition: padding-top 0.5s, background 0.7s;
    background: $dark-theme-seethru;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 80%, $dark-theme-seethru 90%);

    &:hover {
      padding-top: 0.4em;
      transition: padding-top 0.5s, background 0.7s;
      background: $dark-theme-seethru;
    }
  }
  span {
    display: block;
    color: white;
    position: absolute;
    width: 100%;
    font-weight: 700;
    padding-left: 10px;
    font-size: 1em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

  }
  @media screen and (max-width: 420px) {

    margin-bottom: 20px;
    height: 11em;
  width: 11em;
 

  }
}



.minibox {
  position: relative;
  height: 6.5em;
  width: 11em;
  overflow: hidden;
  margin-bottom: 0.5em;
  .blog {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/photos/blog1.png");
    background-size: 11em;
    background-position: top;
    -webkit-filter: blur(2px);
    filter: blur(1px);
    // margin: -2px -4px -4px -2px;
  }
  .volunteer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/photos/volunteer1.jpg");
    background-size: 11em;
    background-position: bottom;
    -webkit-filter: blur(2px);
    filter: blur(1px);
    // margin: -2px -4px -4px -2px;
  }
  .sports {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/photos/shooting1.jpg");
    background-size: 11em;
    background-position: top;
    -webkit-filter: blur(2px);
    filter: blur(1px);
    margin: -2px -4px -4px -2px;
  }
  .moc {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/photos/MOC1.jpg");
    background-size: 11em;
    background-position: top;
    -webkit-filter: blur(2px);
    filter: blur(1px);
    margin: -2px -4px -4px -2px;
  }


  // .moderno {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-image: url("/assets/moderno.png");
  //   background-size: 11em;
  //   -webkit-filter: blur(2px);
  //   filter: blur(2px);
  //   margin: -2px -4px -4px -2px;

  // }
  .overlay {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 100%;
    padding-top: 45%;
    transition: padding-top 0.5s, background 0.7s;
    background: $dark-theme-seethru;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 69%, $dark-theme-seethru 80%);

    &:hover {
      padding-top: 0.3em;
      transition: padding-top 0.5s, background 0.7s;
      background: $dark-theme-seethru;
    }
  }
  span {
    display: block;
    color: white;
    position: absolute;
    width: 100%;
    font-weight: 700;
    padding-left: 10px;
    font-size: 1em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

  }
  @media screen and (max-width: 420px) {

    margin-bottom: 20px;
    height: 11em;
  width: 11em;
 

  }
}


.fascimile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;

  a {
    display: inline-block;
    width: 20%;
  }

}

@media screen and (max-width: 420px) {
#ciegoimg, #lazaroimg {
  display:none;
}


}


