@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?16u552');
    src:    url('../fonts/icomoon.eot?16u552#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?16u552') format('truetype'),
        url('../fonts/icomoon.woff?16u552') format('woff'),
        url('../fonts/icomoon.svg?16u552#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icons {
  font-family: 'icomoon';
  text-align: center;
  display: flex;
  justify-content: space-between;

  a {

    &:first-of-type {
      margin-left: 20%;
    }
    &:last-of-type {
      margin-right: 20%;
    }
    &:hover {
      text-decoration: none;
    }

  }

}



.right_icon{
  right:0;
  position: relative;
  top: -43px;
  align-items: right;
}


.right_figure{
  left:25px;
  position: relative;
  top: 40px;
  align-items: right;
}


.download_icon {
  font-family: 'icomoon';
  text-align: center;
  // justify-content: space-between;
  position: relative;
  right:15px;
  display: block;
  // width: 10em;
  // height: 10em;
  font-size: 150%;
  // stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  text-align: right;
}


#backtop a { /* back to top button */
  font-family: 'icomoon';
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  width:50px;
  height: 50px;
  position: fixed;
  bottom: 30px; /* 小按钮到浏览器底边的距离 */
  right: 60px; /* 小按钮到浏览器右边框的距离 */
  // color: rgb(64,120,192); /* 小按钮中文字的颜色 */
  z-index: 1000;
  // background: #fff; /* 小按钮底色 */
  padding: auto; /* 小按钮中文字到按钮边缘的距离 */
  border-radius: 50px; /* 小按钮圆角的弯曲程度（半径）*/
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  font-weight: bold; /* 小按钮中文字的粗细 */
  text-decoration: none !important;
  box-shadow: 0 1px 0.8px 1.5px rgba(0,0,0,.15), 0 0 0 0 #ffffff inset;
}

#backtop a:hover { /* 小按钮上有鼠标悬停时 */
  background: rgb(174, 174, 174); /* 小按钮的底色 */
  color: #fff; /* 文字颜色 */
}


#contact_button { /* back to top button */
  font-family: 'icomoon';
  text-align: center;
  // line-height: 50px;
  // font-size: 20px;
  width: min-content;
  // height: 10px;
  // position:inherit;
  display: inline-block;
  // bottom: 30px; /* 小按钮到浏览器底边的距离 */
  // right: 60px; /* 小按钮到浏览器右边框的距离 */
  // // color: rgb(64,120,192); /* 小按钮中文字的颜色 */
  // z-index: 1000;
  // // background: #fff; /* 小按钮底色 */
  // padding: auto; /* 小按钮中文字到按钮边缘的距离 */
  // border-radius: 50px; /* 小按钮圆角的弯曲程度（半径）*/
  // -moz-border-radius: 50px;
  // -webkit-border-radius: 50px;
  // font-weight: bold; /* 小按钮中文字的粗细 */
  // text-decoration: none !important;
  // box-shadow: 0 1px 0.8px 1.5px rgba(0,0,0,.15), 0 0 0 0 #ffffff inset;
}

#contact_button a:hover { /* 小按钮上有鼠标悬停时 */
  // background: rgb(174, 174, 174); /* 小按钮的底色 */
  color: rgb(214, 214, 214); /* 文字颜色 */
  // box-shadow: 0 1px 0.8px 1.5px rgba(0,0,0,.15), 0 0 0 0 #ffffff inset;
}


#backpage a { /* back to top button */
  font-family: 'icomoon';
  position: fixed;
  top:  3rem;
  left: 1rem;
  display: block;
  padding: .25rem .75rem;
  color: #505050;
  background-color: #fff;
  border-radius: .25rem;
  cursor: pointer;
  // box-shadow:0 2px 0px rgba(0,0,0,.15), 0 3px 0 #ffffff inset;
}

.icon-sort-amount-desc {
  font-family: 'icomoon';
  position: relative;
  font-size: 15px;
  vertical-align: bottom;
  // top:  3rem;
  // left: 1rem;
  // width: 70px;
  display: inline-block;
  // padding: .25rem .75rem;
  color: #a2a2a2;
  // background-color: #fff;
  // border-radius: .25rem;
  cursor: default;
  // content: "\ea4d";
}

// #backpage a:hover { /* 小按钮上有鼠标悬停时 */
//   background: #505050; /* 小按钮的底色 */
//   color: #fff; /* 文字颜色 */
// }


// top:  .8rem;
// left: 1rem;
// display: block;
// padding: .25rem .75rem;
// color: #505050;
// background-color: #fff;
// border-radius: .25rem;
// cursor: pointer;
