@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rlyk74');
  src:  url('fonts/icomoon.eot?rlyk74#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rlyk74') format('truetype'),
    url('fonts/icomoon.woff?rlyk74') format('woff'),
    url('fonts/icomoon.svg?rlyk74#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face{
  font-family: 'noto-serif-jp';
  src: url('fonts/NotoSerifJP-Light.ttf');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelop:before {
  content: "\e945";
}
.icon-twitter1111:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
