---
layout: default
---
<article class="page">
  <h1 class="page-title">{{ page.title }} <div class="right_icon"> <a href="{{ site.baseurl }}/assets/pdf/{{ page.pdf_file }}" class="download_icon" target="_blank">&#xeadf;</a></div></h1>

  {{ content }}

<style>
  th,td {
      text-align: left;
      vertical-align: top;
      padding: 0;
  }
</style>

  <div class="shadowbox">
    <h2>General Information</h2>
  <table>
    <!-- <tr>
      <th></th>
      <th></th>
    </tr> -->
    <tr>
      <td> <dt>Full Name </dt> </td>
      <td>Tuorui Peng</td>
    </tr>
    <tr>
      <td><dt>Date of Birth</dt></td>
      <td>29th November 2001</td>
    </tr>
    <tr>
      <td><dt>Languages</dt></td>
      <td>English, Chinese</td>
    </tr>
  </table>
</div>


<div style="height: 50px ;"></div>
<div class="shadowbox">
  <h2>Education</h2>
<table>
  <!-- <tr>
    <th></th>
    <th></th>
  </tr> -->
  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2023</p> </div> </td>
    <td>
      <dt>Bachelor of Science in Physics</dt>
      <p>Tsinghua University, Beijing, China</p>
      <div style="top: -15px; position: relative;">
      <ul >
        <li>With a minor in Statistics</li>
      </ul></div>
    </td>
  </tr>


</table>
</div>

<div style="height: 50px ;"></div>
<div class="shadowbox">
  <h2><a href="{{ site.baseurl }}/Experiences", style="color: rgb(69,69,69) ;" >Experiences</a></h2>
<table>
  <!-- <tr>
    <th></th>
    <th></th>
  </tr> -->
  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2022-Now</p> </div> </td>
    <td>
      <dt>Remote Research Assistant
      </dt>
      <p>NUS Department of Statistics and Data Science</p>
    </td>
  </tr>

  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2021-2022</p> </div> </td>
    <td>
      <dt>Research Assistant</dt>
      <p>THU Center of Statistical Science</p>
    </td>
  </tr>

  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2022</p> </div> </td>
    <td>
      <dt>Contestant</dt>
      <p>Mathematical Contest In Modeling</p>
    </td>
  </tr>

  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2021-2022</p> </div> </td>
    <td>
      <dt>Student Research Training</dt>
      <p>THU Department of Physics
      </p>
    </td>
  </tr>
</table>
</div>



<div style="height: 50px ;"></div>
<div class="shadowbox">
  <h2>Open Sources Projects</h2>
<table>
  <!-- <tr>
    <th></th>
    <th></th>
  </tr> -->
  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2020-Now</p> </div> </td>
    <td>
      <dt><a href="https://github.com/V1ncent19/Statistics-Course-Summary-LaTeX">Statistics Course Summary</a></dt>
      <!-- <div style="top: -15px; position: relative;"> -->
      <ul >
        <li>A summary note of what I learned and thought of during statistics minor. </li>
      </ul></div>
    </td>
  </tr>
</table>
</div>

  <div style="height: 50px ;"></div>
<div class="shadowbox">
  <h2>Honors & Rewards</h2>
<table>
  <!-- <tr>
    <th></th>
    <th></th>
  </tr> -->
  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2022</p> </div> </td>
    <td>

      <ul >
        <li>Honorable Mention, Mathematical Contest In Modeling</li>
      </ul></div>
    </td>
  </tr>

  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2020</p> </div> </td>
    <td>

      <ul >
        <li>Scholarship for Academic Advance</li>
      </ul></div>
    </td>
  </tr>
</table>
</div>

<div style="height: 50px ;"></div>
<div class="shadowbox">
  <h2>Academic Interests</h2>
  <ul>
    <li>Survival Analysis</li>
    <li>Causal Inference</li>
    <li>Markov Process & Markov Chain</li>
  </ul>
</div>

<div style="height: 50px ;"></div>
<div class="shadowbox">
  <h2>Other Interests</h2>
  <ul>
    <li>Badminton</li>
    <li>Competitive Shooting</li>
    <li><a href="https://www.lego.com/en-us">LEGO</a></li>
    <li>LoL E-sports. I am a fan of <a href="https://g2esports.com/">G2 ESPORTS</a>.</li>
  </ul>
</div>



  <div id="backtop">
    <a href="#">&#xea3a;</a>
  </div> 
</article>