---
layout: default
---
<article class="page">
  <h1 class="page-title">{{ page.title }} <div class="right_icon"> <a href="{{ site.baseurl }}/assets/pdf/{{ page.pdf_file }}" class="download_icon" target="_blank">&#xeadf;</a></div></h1>

  {{ content }}

<style>
  th,td {
      text-align: left;
      vertical-align: top;
      padding: 0;
  }
</style>

  <div class="shadowbox">
    <h2>General Information</h2>
  <table>
    <!-- <tr>
      <th></th>
      <th></th>
    </tr> -->
    <tr>
      <td> <dt>Full Name </dt> </td>
      <td>彭拓锐, Tuorui Peng</td>
    </tr>
    <tr>
      <td><dt>Date of Birth</dt></td>
      <td>29th November 2001</td>
    </tr>
    <tr>
      <td><dt>Languages</dt></td>
      <td>
        <div style="top: 1px; left: -20px; position: relative;">
          <ul >
            <li>汉语, 粵語 (Native)</li>
            <li>English (Fluent)</li>
            <li>Français, 日本語 (Beginner)</li>
          </ul></div>
      </td>
    </tr>
    <tr>
      <td><dt>Hometown</dt></td>
      <td>Shenzhen, Guandong, China</td>
    </tr>
  </table>
</div>


<div style="height: 50px ;"></div>
<div class="shadowbox">
  <h2>Education</h2>
<table>
  <!-- <tr>
    <th></th>
    <th></th>
  </tr> -->
  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2028</p> </div> </td>
    <td>
      <dt>Doctor of Philosophy in Statistics</dt>
      <p>Northwestern University, Evanston, IL, USA.</p>
    </td>
  </tr>
  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2023</p> </div> </td>
    <td>
      <dt>Bachelor of Science in Mathematics and Physics</dt>
      <p>Tsinghua University, Beijing, China.</p>
      <div style="top: -15px; position: relative;">
      <ul >
        <li>With a minor in Statistics</li>
      </ul></div>
    </td>
  </tr>


</table>
</div>

<div style="height: 50px ;"></div>
<div class="shadowbox">
  <h2><a href="{{ site.baseurl }}/Experiences", style="color: rgb(69,69,69) ;" ><ul>Academic Experiences</ul></a></h2>
<table>
  <!-- <tr>
    <th></th>
    <th></th>
  </tr> -->
  
    <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2023</p> </div> </td>
    <td>
      <dt>Research Assistant & Undergraduate Dissertation 
      </dt>
      <p>THU Center of Statistical Science</p>
    </td>
  </tr>
  
  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2022</p> </div> </td>
    <td>
      <dt>Remote Research Assistant
      </dt>
      <p>NUS Department of Statistics and Data Science</p>
    </td>
  </tr>

  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2021-2022</p> </div> </td>
    <td>
      <dt>Research Assistant</dt>
      <p>THU Center of Statistical Science</p>
    </td>
  </tr>

  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2022</p> </div> </td>
    <td>
      <dt>Contestant</dt>
      <p>Mathematical Contest In Modeling</p>
    </td>
  </tr>

  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2021-2022</p> </div> </td>
    <td>
      <dt>Student Research Training</dt>
      <p>THU Department of Physics
      </p>
    </td>
  </tr>
</table>
</div>



<div style="height: 50px ;"></div>
<div class="shadowbox">
  <h2>Open Sources Projects</h2>
<table>
  <!-- <tr>
    <th></th>
    <th></th>
  </tr> -->
  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2020-2023</p> </div> </td>
    <td>
      <dt><a href="https://github.com/V1ncent19/Statistics-Course-Summary-LaTeX">Statistics Course Summary</a></dt>
      <!-- <div style="top: -15px; position: relative;"> -->
      <ul >
        <li>A summary note of what I learned and thought of during statistics minor in Tsinghua University. </li>
      </ul></div>
    </td>
  </tr>
  
    <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2023-Now</p> </div> </td>
    <td>
      <dt><a href="https://thu-stat-wiki.github.io"> Stat Wiki</a></dt>
      <!-- <div style="top: -15px; position: relative;"> -->
      <ul >
        <li>A public wiki site for statistics students, especially for students at Tsinghua Univ. with statistics minor.</li>
      </ul></div>
    </td>
  </tr>
  
</table>
</div>

  <div style="height: 50px ;"></div>
<div class="shadowbox">
  <h2>Honors & Rewards</h2>
<table>
  <!-- <tr>
    <th></th>
    <th></th>
  </tr> -->
  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2023</p> </div> </td>
    <td>

      <ul >
        <li>Five-star Zijing Volunteer</li>
      </ul></div>
    </td>
  </tr>
  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2022</p> </div> </td>
    <td>

      <ul >
        <li>Honorable Mention, Mathematical Contest In Modeling</li>
      </ul></div>
    </td>
  </tr>

  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2021</p> </div> </td>
    <td>

      <ul >
        <li>4th Place in 10m Air Rifle Shooting, Ma Yuehan Cup, Tsinghua University</li>
        <li>5th Place in 10m Air Gun Shooting, Ma Yuehan Cup, Tsinghua University</li>
      </ul></div>
    </td>
  </tr>

  <tr>
    <td> <div class="yearbox"> <p style="color: #ffffff; font-family: sans-serif ; font-size:medium;">2020</p> </div> </td>
    <td>

      <ul >
        <li>Scholarship for Academic Advance</li>
      </ul></div>
    </td>
  </tr>
</table>
</div>

<div style="height: 50px ;"></div>
<div class="shadowbox">
  <h2>Academic Interests</h2>
  <ul>
    <li>machine learning</li>
    <li>information theory</li>
    <li>high dimensional statistics</li>
    <li>optimization</li>
    <li>variational renormalization group</li>
    <li>complex systems</li>
  </ul>
</div>

<div style="height: 50px ;"></div>
<div class="shadowbox">
  <h2>Other Interests</h2>
  <ul>
    <li>Badminton</li>
    <li>Cooking. You can refer to <a href="{{ site.baseurl }}/Cuisine">l'art Culinaire</a> page for more detail. It's my cooking diary.</li>
    <li>Piano</li>
    <li>Foreign Language</li>
    <li>Shooting Sport</li>
    <li><a href="https://www.lego.com/en-us">LEGO</a> MOC, some of my MOCs are <a href="{{ site.baseurl }}/OtherActivity">here</a>.</li>
    <li>LoL E-sports. I am a fan of <a href="https://g2esports.com/">G2 ESPORTS</a>. And my favourite pro-player is <a href="https://twitter.com/G2Caps">Rasmus "Caps" Winther</a>.</li>
    <li>My favourite artists are <a href = "https://fr.wikipedia.org/wiki/Auguste_Renoir">Pierre-Auguste Renoir</a> and <a href = "https://www.pixiv.net/users/772547">loundraw</a>. My favourite animes are <a href = "https://summerghost.jp/">『サマーゴースト』(Summer Ghost)</a> and <a href = "https://justbecause.jp/">『ジャストビコーズ』(Just Because!)</a>.
  </ul>
</div>



  <div id="backtop">
    <a href="#">&#xea3a;</a>
  </div> 
</article>