---
layout: page
---

{% if page.category == "Knowledge" %}
<div id="backpage">
  <a href="{{site.baseurl}}/Knowledge">&#xea40;</a>
</div> </a>
{% elsif page.category == "Documentation" %}
<div id="backpage">
  <a href="{{site.baseurl}}/documentation">&#xea40;</a>
</div> </a>
{% endif %}


<article class="post">
  <!-- <h1 class="text-title">{{ page.title }}</h1> -->
  {{ content }}
</article>

<hr>

<p>Author: <I>{{ page.author }}</I></p>

<p>First created: <I>{{ page.date | date: '%B %-d, %Y' }}</I></p>

<p>Latest edited: <I>{{ "today" | date: '%B %-d, %Y' }}</I></p>